<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="org.opensrp.repository.postgres.mapper.custom.CustomClientFormMetadataMapper">

	<resultMap id="BaseClientFormMetadataResultMap" type="org.opensrp.domain.postgres.ClientFormMetadata">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="identifier" jdbcType="VARCHAR" property="identifier"/>
		<result column="jurisdiction" jdbcType="VARCHAR" property="jurisdiction"/>
		<result column="form_version" jdbcType="VARCHAR" property="formVersion"/>
		<result column="label" jdbcType="VARCHAR" property="label"/>
		<result column="module_name" jdbcType="VARCHAR" property="module"/>
		<result
			column="created_at" jdbcType="BIGINT" property="createdAt"/>
	</resultMap>

	<resultMap id="IdVersionTuple" type="org.opensrp.domain.IdVersionTuple">
		<id column="id" jdbcType="BIGINT" property="id"/>
		<result column="form_version" jdbcType="VARCHAR" property="version"/>
	</resultMap>

	<sql id="countClientFormMetadataByFormIdentifier">
		select count(id)
		from client_form_metadata
		WHERE identifier = #{formIdentifier, jdbcType=VARCHAR}
		ORDER BY created_at DESC LIMIT 1
	</sql>


	<select id="selectClientFormMetadataByFormVersionAndIdentifier" resultMap="BaseClientFormMetadataResultMap">
		select *
		from client_form_metadata
		WHERE form_version = #{formVersion,jdbcType=VARCHAR} AND
		identifier = #{formIdentifier, jdbcType=VARCHAR}
		ORDER BY created_at DESC LIMIT 1
	</select>

	<insert id="insertClientFormMetadata" parameterType="org.opensrp.domain.postgres.ClientFormMetadata"
		useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into client_form_metadata(identifier, jurisdiction, form_version, label, module_name, created_at)
		 values (#{identifier}, #{jurisdiction}, #{formVersion}, #{label}, #{module}, #{createdAt})
	</insert>

	<select id="getAvailableClientFormVersions" parameterType="string" resultType="string">
		SELECT id, form_version FROM client_form_metadata WHERE form_identifier = #{formIdentifier}
	</select>
</mapper>