<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="org.opensrp.repository.postgres.mapper.custom.CustomStructureMapper">

	
	<insert id="insertSelectiveAndSetId" parameterType="org.opensrp.domain.postgres.Structure"
		useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into core.structure
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	      <if test="id != null">
	        id,
	      </if>
	      <if test="json != null">
	        json,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides=",">
	      <if test="id != null">
	        #{id,jdbcType=BIGINT},
	      </if>
	      <if test="json != null">
	        #{json,jdbcType=OTHER,typeHandler=org.opensrp.repository.postgres.handler.LocationTypeHandler},
	      </if>
	    </trim>
	</insert>
	
	
	<select id="selectStructureAndFamilyWithinRadius" parameterType="map"
		resultMap="org.opensrp.repository.postgres.mapper.StructureMetadataMapper.BaseResultMap">
	
		select s.json->>'id' as id,s.json->'properties'->>'parentId' as parentId ,s.json->'properties'->>'type' as type
		,c.base_entity_id as baseEntityId,c.relational_id as relationalId ,c.last_name as lastName
		from core.structure s
		left join core.client_metadata c on c.residence=json->>'id'
		where ST_DistanceSpheroid(ST_GeomFromGeoJSON(json->'geometry'), ST_MakePoint(#{longitude,jdbcType=DOUBLE}, #{latitude,jdbcType=DOUBLE}),
		      'SPHEROID["WGS 84",6378137,298.257223563]') <= #{radius,jdbcType=DOUBLE}

	</select>
		
</mapper>
