<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
        namespace="org.opensrp.repository.postgres.mapper.custom.CustomClientFormMetadataMapper">

    <resultMap id="BaseClientFormMetadataResultMap" type="org.opensrp.domain.postgres.ClientFormMetadata">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="identifier" jdbcType="VARCHAR" property="identifier"/>
        <result column="jurisdiction" jdbcType="VARCHAR" property="jurisdiction"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
        <result column="label" jdbcType="VARCHAR" property="label"/>
        <result column="module" jdbcType="VARCHAR" property="module"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="is_draft" jdbcType="BIT" property="isDraft"/>
        <result column="is_json_validator" jdbcType="BIT" property="isJsonValidator"/>
    </resultMap>

    <resultMap id="IdVersionTuple" type="org.opensrp.domain.IdVersionTuple">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="form_version" jdbcType="VARCHAR" property="version"/>
    </resultMap>

    <select id="countClientFormMetadataByFormIdentifier" parameterType="map" resultType="int">
        select count(id)
        from core.client_form_metadata
        WHERE identifier = #{formIdentifier, jdbcType=VARCHAR} AND
        is_json_validator = #{isJsonValidator, jdbcType=BIT}
    </select>


    <select id="selectClientFormMetadataByFormVersionAndIdentifier" parameterType="map"
            resultMap="BaseClientFormMetadataResultMap">
        select *
        from core.client_form_metadata
        WHERE version = #{formVersion, jdbcType=VARCHAR} AND
        identifier = #{formIdentifier, jdbcType=VARCHAR} AND
        is_json_validator = #{isJsonValidator, jdbcType=BIT}
        ORDER BY created_at DESC LIMIT 1
    </select>

    <insert id="insertClientFormMetadata" parameterType="org.opensrp.domain.postgres.ClientFormMetadata"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into core.client_form_metadata(id, identifier, jurisdiction, version, label, module, is_draft,
        is_json_validator, created_at)
        values (#{id}, #{identifier}, #{jurisdiction}, #{version}, #{label}, #{module}, #{isDraft}, #{isJsonValidator},
        #{createdAt})
    </insert>

    <select id="getAvailableClientFormVersions" parameterType="map" resultMap="IdVersionTuple">
        SELECT id, version FROM core.client_form_metadata WHERE identifier = #{formIdentifier} AND
        is_json_validator = #{isJsonValidator, jdbcType=BIT}
    </select>

    <select id="getDraftClientFormMetadata" parameterType="boolean" resultMap="BaseClientFormMetadataResultMap">
        SELECT * FROM core.client_form_metadata WHERE is_draft = #{isDraft, jdbcType=BIT}
    </select>

    <select id="getJsonWidgetValidatorClientFormMetadata" parameterType="boolean"
        resultMap="BaseClientFormMetadataResultMap">
        SELECT * FROM core.client_form_metadata WHERE is_json_validator = #{isJsonValidator, jdbcType=BIT}
    </select>

    <select id="updateClientMetadataIsDraftByVersion" parameterType="map"
            resultMap="BaseClientFormMetadataResultMap">
        UPDATE core.client_form_metadata
        SET isDraft = #{isDraft,jdbcType=BIGINT}
        WHERE version = #{version, jdbcType=VARCHAR}
    </select>

    <select id="getAllClientFormMetadata" resultMap="BaseClientFormMetadataResultMap">
        SELECT * FROM core.client_form_metadata
    </select>
</mapper>
