<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="org.opensrp.repository.postgres.mapper.custom.CustomOrganizationLocationMapper">

  <resultMap id="BaseResultMap" type="org.opensrp.domain.AssignedLocations">
    <id column="identifier" jdbcType=""VARCHAR"" property="planId" />
    <result column="geojson_id" jdbcType="VARCHAR" property="jurisdictionId" />
    <result column="from_date" jdbcType="TIMESTAMP" property="fromDate" />
    <result column="to_date" jdbcType="TIMESTAMP" property="toDate" />
  </resultMap>
  
   <sql id="Base_Column_List">
       p.identifier,l.geojson_id,ol.from_date,ol.to_date
    </sql>
  
	<select id="selectMany"
		resultMap="BaseResultMap">
		select
		<include
			refid="Base_Column_List" />
		from team.organization_location ol
		left join core.plan p on p.id=ol.plan_id
		left join core.location_metadata l on l.location_id=ol.location_id
		where ol.organization_id = #{organizationId,jdbcType=BIGINT} AND ol.from_date  >=  #{fromDate,jdbcType=TIMESTAMP} 
		and ( ol.to_date is null  OR ol.to_date  <=  #{toDate,jdbcType=TIMESTAMP} )	
	</select>

</mapper>
