<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.opensrp.repository.postgres.mapper.custom.CustomPractitionerMapper">

    <select id="selectMany"
            resultMap="org.opensrp.repository.postgres.mapper.PractitionerMapper.BaseResultMap">
        select
        <include
                refid="org.opensrp.repository.postgres.mapper.PractitionerMapper.Base_Column_List" />
        from team.practitioner p
        <if test="_parameter != null">
            <include refid="org.opensrp.repository.postgres.mapper.PractitionerMapper.Example_Where_Clause" />
        </if>
        <if test="example.orderByClause != null">
            order by p.${example.orderByClause}
        </if>
        LIMIT #{limit} OFFSET #{offset}
    </select>

</mapper>