<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.opensrp.repository.postgres.mapper.custom.CustomUniqueIdMapper">

    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <select id="selectMany"
            resultMap="org.opensrp.repository.postgres.mapper.UniqueIdMapper.BaseResultMap">
        select
        <include
                refid="org.opensrp.repository.postgres.mapper.UniqueIdMapper.Base_Column_List" />
        from core.unique_id ui
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="example.orderByClause != null">
            order by ui.${example.orderByClause}
        </if>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="selectManyIds" resultType="java.lang.String">
        select
        <if test="example.distinct">
            distinct
        </if>
        openmrs_id
        from core.unique_id ui
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="example.orderByClause != null">
            order by tm.${example.orderByClause}
        </if>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <insert id="insertSelectiveAndSetId" parameterType="org.opensrp.domain.postgres.UniqueId"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into core.unique_id
    <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
            id,
        </if>
        <if test="location != null">
            location,
        </if>
        <if test="openmrsId != null">
            openmrs_id,
        </if>
        <if test="status != null">
            status,
        </if>
        <if test="usedBy != null">
            used_by,
        </if>
        <if test="updatedAt != null">
            updated_at,
        </if>
        <if test="createdAt != null">
            created_at,
        </if>
        <if test="identifier != null">
            identifier,
        </if>
        <if test="idSource != null">
            id_source,
        </if>
        <if test="isReserved != null">
            is_reserved,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
            #{id,jdbcType=BIGINT},
        </if>
        <if test="location != null">
            #{location,jdbcType=VARCHAR},
        </if>
        <if test="openmrsId != null">
            #{openmrsId,jdbcType=VARCHAR},
        </if>
        <if test="status != null">
            #{status,jdbcType=VARCHAR},
        </if>
        <if test="usedBy != null">
            #{usedBy,jdbcType=VARCHAR},
        </if>
        <if test="updatedAt != null">
            #{updatedAt,jdbcType=TIMESTAMP},
        </if>
        <if test="createdAt != null">
            #{createdAt,jdbcType=TIMESTAMP},
        </if>
        <if test="identifier != null">
            #{identifier,jdbcType=VARCHAR},
        </if>
        <if test="idSource != null">
            #{idSource,jdbcType=BIGINT},
        </if>
        <if test="isReserved != null">
            #{isReserved,jdbcType=BIT},
        </if>
    </trim>
    </insert>

</mapper>
