<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="org.opensrp.repository.postgres.mapper.custom.CustomTaskMapper">

	
	<insert id="insertSelectiveAndSetId" parameterType="org.opensrp.domain.postgres.Task">
		<selectKey keyProperty="id,serverVersion,json"
			keyColumn="id,server_version,json" order="BEFORE"
			resultType="java.util.Map">
			SELECT seq.*,jsonb_set(#{json,jdbcType=OTHER,typeHandler=org.opensrp.repository.postgres.handler.TaskTypeHandler},'{serverVersion}',to_jsonb(server_version),true) as json 
			FROM ( SELECT nextVal('core.task_id_seq') as id, nextVal('core.task_server_version_seq') as server_version) seq
		</selectKey>
		insert into core.task
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	      <if test="id != null">
	        id,
	      </if>
	      <if test="json != null">
	        json,
	      </if>
	      server_version
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides=",">
	      <if test="id != null">
	        #{id,jdbcType=BIGINT},
	      </if>
	      <if test="json != null">
	      #{json,jdbcType=VARCHAR},
	      </if>
	       #{serverVersion,jdbcType=BIGINT}
	    </trim>
	</insert>
	
	<update id="updateByPrimaryKey" parameterType="org.opensrp.domain.postgres.Task">
 	<selectKey keyProperty="serverVersion,json" 	keyColumn="server_version,json" resultType="java.util.Map" order="BEFORE">
 	SELECT seq.*,jsonb_set(#{json,jdbcType=OTHER,typeHandler=org.opensrp.repository.postgres.handler.TaskTypeHandler},'{serverVersion}',to_jsonb(server_version),true) as json
 	FROM (SELECT nextVal('core.task_server_version_seq') as server_version) seq
  	</selectKey>
    update core.task
    set json = #{json,jdbcType=VARCHAR},
      server_version = #{serverVersion,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
		
</mapper>
