<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="org.opensrp.repository.postgres.mapper.custom.CustomOrganizationLocationMapper">

  <resultMap id="BaseResultMap" type="org.opensrp.domain.AssignedLocations">
    <result column="identifier" jdbcType="VARCHAR" property="planId" />
    <result column="geojson_id" jdbcType="VARCHAR" property="jurisdictionId" />
    <result column="from_date" jdbcType="TIMESTAMP" property="fromDate" />
    <result column="to_date" jdbcType="TIMESTAMP" property="toDate" />
	<result column="org_identifier" jdbcType="VARCHAR" property="organizationId" />

  </resultMap>
  
   <sql id="Base_Column_List">
       p.identifier,l.geojson_id,ol.from_date,ol.to_date, org.identifier as org_identifier
    </sql>
  
	<select id="findAssignedlocationsAndPlans"
		resultMap="BaseResultMap">
		select
		<include
			refid="Base_Column_List" />
		from team.organization_location ol
		left join core.plan p on p.id=ol.plan_id
		left join core.location_metadata l on l.location_id=ol.location_id
		inner join team.organization org on org.id=ol.organization_id
		<include refid="org.opensrp.repository.postgres.mapper.OrganizationLocationMapper.Example_Where_Clause" />
		and ( ol.to_date is null  OR ol.to_date  <![CDATA[ >= ]]> #{toDate,jdbcType=TIMESTAMP} )	
	</select>
	
	
	<select id="selectByExampleAndDateTo"
		resultMap="org.opensrp.repository.postgres.mapper.OrganizationLocationMapper.BaseResultMap">
		select
		<include
			refid="org.opensrp.repository.postgres.mapper.OrganizationLocationMapper.Base_Column_List" />
		from team.organization_location ol
		<choose>
			<when test="oredCriteria != null">
			  <include refid="org.opensrp.repository.postgres.mapper.OrganizationLocationMapper.Example_Where_Clause" />
			  and ( ol.to_date is null  OR ol.to_date  <![CDATA[ >= ]]> #{currentDate,jdbcType=TIMESTAMP} )
			</when>
			<otherwise>
				<where>
				  ( ol.to_date is null  OR ol.to_date  <![CDATA[ >= ]]> #{currentDate,jdbcType=TIMESTAMP} )
				</where>
			</otherwise>
		</choose>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>	
	</select>

</mapper>
